.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 20px;
  font-family: Arial, sans-serif;

  h1 {
    font-size: 28px;
    margin-bottom: 20px;
  }

  form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;

    .form-group {
      margin-bottom: 15px;

      label {
        display: block;
        font-size: 16px;
        margin-bottom: 5px;
      }

      input {
        width: 100%;
        padding: 10px;
        font-size: 16px;
        border: 1px solid #ddd;
        border-radius: 5px;
        height: 50px;
      }
      .password__input {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        background: white;
        border: 1px solid #ccc;
        height: 50px;
        border-radius: 5px;
        padding-right: 10px;
        padding-top: 5px;
        input {
          background: transparent;
          border: none;
          height: 100%;
          width: 90%;
          outline: none;
          padding: 10px;
        }

        .showButton {
          display: flex;
          align-items: center;
          justify-content: center;
          border: none;
          background: transparent;
          font-size: 22px;
          color: black;
        }
      }
    }

    button {
      padding: 10px;
      font-size: 16px;
      border: none;
      border-radius: 5px;
      background-color: #007bff;
      color: #fff;
      cursor: pointer;
      transition: background-color 0.3s;

      &:hover {
        background-color: #0056b3;
      }

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    .error {
      color: red;
      margin-top: 10px;
    }
  }
}
